[
  {ecomponent, [
    {syslog_name, lbs},
    {jid, "extvcard.xiaoyang.com"}, %%组件域名

    {servers, [
      {server_one, [
        {server, "192.168.10.58"}, %%主服ip
        {port, 5275}, %%端口
        {pass, "secret"}
      ]}
    ]},

    {processors, [{'urn:xmpp:rooyee:lbs:v1', {mod, lbs}}, {'jabber:iq:search', {mod, lbs}}]}, %% ns对应的外部组件iq处理模块
    {message_processor, {mod, lbs}},%% ns对应的外部组件message处理模块
    {presence_processor, {mod, lbs}},%% ns对应的外部组件presence处理模块


    {features, [                      %% 外部组件的支持的特性
      <<"urn:xmpp:rooyee:lbs:v1">>
    ]},
    {info, [
      {type, <<"jabber:protocol:boot">>},  %% 服务返回
      {name, <<"Boot">>},
      {category, <<"text">>}
    ]},
    {disco_info, true}  %% 是否打开disco_info
  ]},

  {lager, [                            %% 日志打印相关配置
    {handlers, [
      {lager_console_backend, debug},%% info
      {lager_file_backend, [
        {"log/error.log", error, 10485760, "$D0", 5},
        {"log/info.log", info, 10485760, "$D0", 5}
      ]}
    ]},
    {crash_log, "log/crash.log"},
    {crash_log_msg_size, 65536},
    {crash_log_size, 10485760},
    {crash_log_date, "$D0"},
    {crash_log_count, 5},
    {error_logger_redirect, true}
  ]},

  {extvcard, [

  ]}
].
